<!DOCTYPE html>
<html lang="es">
<%- include("templates/head") %>
<body>
  <%- include("templates/header") %>

  <main>
  
  <h2><%= subtitulo %></h2>
   


    <div class="card">
      <% result.forEach(peli => { %>
        <a href="/peli/<%= peli.id_peli %>">
          <div>
            <img src="<%= peli.img_peli %>" alt="<%= peli.titulo_peli %>"> 
            <h3><%= peli.titulo_peli %></h3>
            <p><%= peli.fecha %></p>
          </div>
        </a>
      <% }) %>
    </div>
  </main>
</body>
</html>
